.navigation {
  display: flex;
  height: 82px;
  margin: 0 32px 0 auto;
}

.navigation__link {
  color: var(--nav-link-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 30px 30px 24px;
  border: none;
  text-decoration: none;
}

.navigation__link--active {
  border-bottom: solid 3px var(--nav-link-active-border-color);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    height: 68px;
    margin: 0 20px 0 auto;
  }

  .navigation__link {
    font-size: 16px;
    line-height: 20px;
    padding: 23px 25px 23px;
  }
}

@media screen and (max-width: 690px) {
  .navigation {
    margin: 0 15px 0 auto;
  }

  .navigation__link {
    padding: 23px 15px 23px;
  }
}

@media screen and (max-width: 580px) {
  .navigation {
    margin: 0;
    flex-direction: column;
    height: auto;
  }

  .navigation__link {
    font-size: 18px;
    padding: 20px 0;
  }
}
