.footer {
  height: 80px;
  width: 100%;
  max-width: 1440px;
  padding: 0 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.footer__list-item {
  margin-left: 40px;
}

.footer__list-item:last-of-type {
  margin-left: 28px;
}

.footer__link-text {
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
}

.footer__link-icon {
  height: 20px;
}

.footer__link-image {
  height: 20px;
}
