.news-card {
  width: 400px;
  height: 576px;
  border-radius: 14px;
  position: relative;
  background-color: #fff;
}

.news-card__save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.news-card__save-button:hover {
  cursor: pointer;
}

.news-card__save-button-image {
  display: block;
  width: 14px;
  height: 19px;
}

.news-card__image {
  width: 400px;
  height: 272px;
  border-radius: 18px 18px 0 0;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
  max-height: 304px;
}

.news-card__date {
  width: 100%;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.news-card__title {
  width: 100%;
  max-height: 90px;
  margin-top: 12px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__text {
  width: 100%;
  height: 88px;
  margin-top: auto;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__font {
  width: 100%;
  height: 20px;
  margin-top: 18px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
